a{
    color: red;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header{
    background-color: #4e0850;
    border-bottom: 1px solid black;
}
header ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
header a{
    padding: 10px;
    display: inline-block;
}

form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form div * {
    flex: 1 1 350px;
}

form label{
    font-weight: bold;
    margin-bottom: 5px;
}

form input{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 25px;
    width: 100%;

}

form button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    margin: 0 0 0 auto;
    display: block;
}